{% extends 'base.html.twig' %}

{% block title %}GuestBlog index{% endblock %}

{% block body %}

        {% for guest_blog in guest_blogs %}

            {{ guest_blog.Title }}             {{ guest_blog.Service }} </br>
            {{ guest_blog.Date ? guest_blog.Date|date('Y-m-d') : '' }}


                <td>
                    <a href="{{ path('guest_blog_show', {'id': guest_blog.id}) }}">show</a>
                    <a href="{{ path('guest_blog_edit', {'id': guest_blog.id}) }}">edit</a>
                </td>
            </tr>
        </tbody>
    </table>
        {% endfor %}

    <a href="{{ path('guest_blog_new') }}">Something to share ?</a>
{% endblock %}
