{% extends 'base.html.twig' %}

{% block title %}GuestBlog index{% endblock %}

{% block body %}
    <h1>GuestBlog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Photo</th>
                <th>Service</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guest_blog in guest_blogs %}
            <tr>
                <td>{{ guest_blog.id }}</td>
                <td>{{ guest_blog.Title }}</td>
                <td>{{ guest_blog.Date ? guest_blog.Date|date('Y-m-d') : '' }}</td>
                <td>{{ guest_blog.Photo }}</td>
                <td>{{ guest_blog.Service }}</td>
                <td>
                    <a href="{{ path('guest_blog_show', {'id': guest_blog.id}) }}">show</a>
                    <a href="{{ path('guest_blog_edit', {'id': guest_blog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('guest_blog_new') }}">Create new</a>
{% endblock %}
