{% extends 'base.html.twig' %}

{% block title %}The Project{% endblock %}


{% block stylesheets %}

<link rel="stylesheet" href="{{asset('../public/CSS/base.css')}}">

{% endblock %}


{% block body %}

<section class="project-TOP">
    <div class="who">
        <h1 class="who-shelter-headers">Who we are</h1>
        <p class="project-text">We are LGBTIQ+ colleagues, friends & activists who work in the Homeless sector & have lived experience of homelessness & the unique, complex issues our community face. We volunteered to launch the UK’s first LGBTIQ+ Crisis/Homeless Shelter & Community Centre. We launched publicly at London Pride 2017, campaigning alongside the passionate & talented LGBTIQ+ community of activists & artists.</p>

        <img class="who-pic" src="{{ asset('PICS/Pride.jpg') }}" alt="the two founders of the outside project"></img>
        <figcaption>Project founders Carla & Laik attaching the banner to the Pride Punx float at London Pride – July 2017</figcaption>
    </div>

    <div class="timetable">
        <h1 class="community-header">Community Center Timetable</h1>
        <div class="timetable-details">
            <div class="community-activities">
                <h2 class="monday days">Monday</h2>
            </div>

            <div class="community-activities">
                <h2 class="tuesday days">Tuesday</h2>
                <p>Homelessness Recovery Group  9:30 - 10:30</p>
                <p>Smoothie Tuesdays  10:30 - 12:30</p>
                <p>[ From the 24th September ] Queer Art Youth Collective - 16:30 to 18:30</p>
            </div>

            <div class="community-activities">
                <h2 class="wednesday days">Wednesday</h2>
                <p>Community Hub  18:00 - 21:00</p>
            </div>

            <div class="community-activities">
                <h2 class="thursday days">Thursday</h2>
            </div>

            <div class="community-activities">
                <h2 class="friday days">Friday</h2>
            </div>

            <div class="community-activities">
                <h2 class="days">First Sunday of every month</h2>
                <p>LGBTQIA+ Cancer Peer Support Group</p>
            </div>

            <div class="community-activities">
                <h2 class="days">Punctual Activities</h2>
                <p></p>
            </div>
        </div>


    </div>

    <div class="shelter">
        <h1 class="who-shelter-headers">The Shelter</h1>
        <p class="project-text">During the summer 2017 we crowdfunded £11.5k. This enabled us to buy a 12 bed tour bus to host the shelter that winter. Through ongoing support from the community & grant funding from the local authority we were able to deliver a professional shelter &demonstrating the need for this vital service on a year round basis.</p>

        <img class="shelter-pic" src="{{ asset('PICS/shelter.jpg') }}" alt="three people siiting under a dome"></img>
        <figcaption>To celebrate the arrival of the shelter in the area ahead of its opening, local groups met to present their projects & do a walk of solidarity, followed by a sleep-in at the shelter. November 2017.</figcaption>
    </div>
</section>


<hr class="hr-two">

<section class="news">
    <h1 class="headers header-news ">News</h1>
        
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.Title }}</td>
                <td>{{ news.Date ? news.Date|date('Y-m-d') : '' }}</td>
                <td>{{ news.Content }}</td>
                <td>{{ news.Photo }}</td>
                <td>
                    <a href="{{ path('news_show', {'id': news.id}) }}">show</a>
                    <a href="{{ path('news_edit', {'id': news.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</section>

{% endblock %}